.address-and-contact-form-section {
  display: flex;
  justify-content: center;
}
.address-and-contact-form-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
}
.address-contact-container,
.contact-form-container {
  width: 48.5%;
}
.address-contact-container .address-div h2 {
  text-transform: uppercase;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin: 0 0 15px 0;
}
.address-contact-container .contact-info-div {
  display: flex;
  justify-content: space-between;
}
.contact-info-div .contact-mail,
.contact-info-div .contact-number {
  width: 39%;
  box-shadow: 1px 1px 15px 2px #a3a2a2;
  padding: 26px 20px;
}
.contact-mail,
.contact-number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-contact-container .address-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 15px 2px #a3a2a2;
  padding: 15px 30px 30px 30px;
  margin: 0 0 35px 0;
}
.address-contact-container .address-div p {
  width: 98%;
  text-align: center;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 350;
}
.contact-mail span,
.contact-number span {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 350;
}

.address-contact-container {
  display: flex;
  flex-direction: column;
}

/* contact form section */

.contact-form-container {
  box-shadow: 1px 1px 15px 2px #a3a2a2;
}
.address-and-contact-form-container .contact-form-container {
  height: fit-content;
}
.contact-form-container .contact-form {
  margin: 15px 15px 0 15px;
}
.contact-form-container .contact-form .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact-form-container .contact-form .row input {
  width: 42.5%;
  outline: none;
  font-size: 15px;
  padding: 12px 10px;
  margin: 10px 0;
}
.contact-form-container .contact-form .full-width {
  width: 99.8%;
}
.contact-form-container .contact-form .full-width textarea {
  width: 96%;
  padding: 10px;
  line-height: 30px;
  height: 150px;
  outline: none;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 15px;
  resize: none;
  margin: 10px 0;
}
.contact-form-container .contact-form .submit-btn {
  display: flex;
  justify-self: center;
  margin: 0 0 20px 0;
}
.contact-form-container .contact-form .submit-btn button {
  background-color: #0dd6f8;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  border: none;
}
