.contact-us-banner-container {
  position: relative;
  /* border: 1px solid red; */
  /* width: 80%; */
}
.contact-us-banner .contact-us-banner-container i img {
  width: 99vw;
  z-index: -1;
}
.contact-us-banner .contact-us-banner-container .contact-us-text-div {
  color: white;
  left: 15%;
  top: 13vh;
  position: absolute;
  text-transform: uppercase;
  font-family: "Sofia Sans Condensed", sans-serif;
}
.contact-us-banner .contact-us-banner-container .contact-us-text-div h1 {
  font-size: 50px;
  word-spacing: 6px;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 400;
}
.contact-us-banner .contact-us-banner-container .contact-us-text-div span {
  word-spacing: 1px;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
}
