body {
  font-family: "Sofia Sans Condensed", sans-serif;
  color: #09192e;
}
.main-banner-div img {
  box-shadow: 1px 1px 15px 2px #a3a2a2;
  height: auto;
  width: 100%;
}
.who-we-are-sec {
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
}
.who-we-are-sec .who-we-are-sec-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.who-we-are-sec-text-container .who-we-are-sec-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.who-we-are-sec-text h1 {
  margin: 10px 0;
}
.who-we-are-sec-text h3,
.who-we-are-sec-text h1,
.who-we-are-sec-text-p p {
  font-weight: 100;
  text-align: center;
}
.who-we-are-sec-text-p p {
  line-height: 1.5rem;
}
